.base {
  padding: 8px 16px;
  margin: auto;
  left: 0;
  right: 0;
  top: 16px;
  width: calc(100% - 48px);
  max-width: 1320px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 3;
  background-color: var(--header-background-color);
  color: var(--text-primary);
  border-radius: 0.5rem;
  // box-shadow: rgba(0, 0, 0, 0.1) 0rem 0.25rem 0.375rem -0.0625rem, rgba(0, 0, 0, 0.06) 0rem 0.125rem 0.25rem -0.0625rem;
  backdrop-filter: saturate(200%) blur(30px);
  position: absolute;

  & .themeButton {
    background-color: transparent;
    color: var(--text-primary);
    border: none;
  }
  & .title {
    color: var(--text-primary);
    font-weight: 600;
    margin: 0;
    text-align: center;
    height: 100%;
  }
}

.scrolled {
  box-shadow: rgba(0, 0, 0, 0.1) 0rem 0.25rem 0.375rem -0.0625rem, rgba(0, 0, 0, 0.06) 0rem 0.125rem 0.25rem -0.0625rem;
}

.sticky {
  position: sticky !important;
}

.nav {
  button {
    background: transparent;
    border: none;
    color: var(--text-secondary);

    span {
      margin-right: 8px;
    }
  }

  @media screen and (max-width: 768px) {
    position: absolute;
    top: 60px;
    left: 0;
    flex-direction: column;
    width: 100%;
    height: 0;
    height: fit-content;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-in-out;
    button {
      width: 100%;
    }
  }
}

.transparent {
  backdrop-filter: unset;
  background-color: transparent;
  box-shadow: none;
  .nav {
    button {
      color: var(--text-primary);
    }
  }
}

.menu {
  display: none;
  z-index: 200;
  @media (max-width: 960px) {
    display: block;
  }
}

.open {
  max-height: 300px;
  overflow: visible;
  background-color: white;
  transition: max-height 0.2s ease-in-out;
}
