@import '/src/core/styles/variables.scss';

.base {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  position: relative;
  min-height: 18.75rem;
  opacity: 1;
  color: $primary;
  box-shadow: none;
  background: linear-gradient(195deg, rgba(73, 163, 241, 0.6), rgba(26, 115, 232, 0.6)) 50% center / cover,
    url(https://demos.creative-tim.com/material-dashboard-react/static/media/bg-profile.af1219a742e09fc7b612.jpeg)
      transparent;
  border-radius: 0.75rem;
  background-position: 50% center;
  overflow: hidden;
}
