// COLORS
$app_bg_color: #ffffff;
$app_bg_contrast_color: #000000;
$app_bg_gray_color: #626667;
$app_bg_contrast_color_100: #121221;
$app_surface_color: #f4f4f6;

$primary_text_color: #121221;
$secondary_text_color: #4b4b5e;
$tertiary_text_color: #67677a;
$placeholder_text_color: #a3a3b5;

$text_contrast_color: #ffffff;

$icon_color: #8a8a9a;

$stroke_color: #e8e8ed;
$stroke_contrast_color: #8f8fb2;

$primary_color: #9112fa;
$purple_color_50: #fbf8fe;
$purple_color_100: #f8f1ff;
$purple_color_200: #e9d1fe;
$purple_color_300: #e0bdfe;
$purple_color_400: #8a05f7;
$purple_color_500: #6202b0;
$purple_color_600: #4e008d;

$secondary_color: #0000f9;
$blue_color_100: #f7f7ff;
$blue_color_200: #d2d2f6;
$blue_color_250: #d7d7e5;
$blue_color_300: rgb(25, 118, 210);
$blue_color_400: #0000bb;
$blue_color_500: #010190;

$tertiary_color: #67677a;
$gray_color_100: #f4f4f6;
$gray_color_200: #f9f9fa;
$gray_color_250: #f3eff6;
$gray_color_300: #e8e8ed;
$gray_color_350: #e0e0e9;
$gray_color_400: #dbdbdf;
$gray_color_500: #b2b2bb;

$warning_color_light: #fef7e9;
$warning_color: #f6a609;
$warning_color_dark: #be7e02;

$success_color_light: #ebfbf1;
$success_color: #2ac769;
$success_color_dark: #03bd4e;

$error_color_light: #ffeaea;
$error_color_light_100: #fca5a5;
$error_color: #fb4e4e;
$error_color_dark: #e82424;

$error_color_dark_100: #d21313;

// FONT SIZES
$text_x_small_font_size: 8px;
$text_small_font_size: 12px;
$text_medium_font_size: 14px;
$text_large_font_size: 16px;

$heading_small_font_size: 20px;
$heading_medium_font_size: 22px;
$heading_large_font_size: 24px;
