@import '/src/core/styles/variables.scss';

.base {
  background: transparent;
  // background: $app_surface_color 0% 0% no-repeat padding-box;
  border: 1px solid  $app_bg_contrast_color_100;
  border-radius: 8px;
  opacity: 1;
  width: 400px;
  height: 48px;
  display: flex;
  gap: 16px;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  &:focus-within {
    // background: $app_bg_color 0% 0% no-repeat padding-box;
      background: transparent;

      border: 1px solid  $app_bg_contrast_color_100;
    }
  &_error {
    // background: #fffcfc 0% 0% no-repeat padding-box;
    background: transparent;

    border: 1px solid  $app_bg_contrast_color_100;
    border-radius: 8px;
    width: 400px;
    height: 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &_error:focus-within {
    background: #fffcfc 0% 0% no-repeat padding-box;
    border: 1px solid $error_color;
  }

  &_disabled {
    background: $blue_color_250 0% 0% no-repeat padding-box;
    border-radius: 8px;
    width: 400px;
    height: 48px;
  }
}
.input {
  background-color: transparent;
  border-width: 0px;
  width: 98%;
  height: 48px;
  &:focus {
    border-width: 0px;
    outline-width: 0px;
    height: 48px;
  }
}
.error_icon {
  color: $error_color;
}
