
@import '/src/core/styles/variables.scss';
.base {
  width: 24px;
  height: 24px;  
}
.disabled_checked{
  opacity: 0.32;
}
.checked{
  background-color: $primary_color;
}
.not_checked{
  background-color: $gray_color_100;
}
.disabled_not_checked{
  background-color: $gray_color_200 !important;
}